
    {%extends 'base.html.twig'%}

       {% block body %}
                    
           
           
           
           <style>
        
    </style>
             <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}" type="text/css " />
       <link rel="stylesheet" href="{{ asset('js/bootstrap.min.js')}}" type="text/js " />

  </head>

     <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}" type="text/css " />

  <body>
     
      <style>
         l
</style>

<script type="text/javascript" src="{{ asset('js/alert.js')}}"></script>
<script type="text/javascript" src="{{ asset('js/button.js')}}"></script>
<link rel="stylesheet" href="{{ asset('css/.min.css')}}" type="text/css " />

       {{ form_start(form) }}

 
 
 

 
     
    {{form_row(form.username)}}<br/>
   {{form_row(form.mail)}}<br/>
      {{form_row(form.password)}}<br/>
      {{form_row(form.session)}}
  
 {{form_row(form.connecter)}}


</body></html>

     
             
  
               
                 {{ form_widget(form) }}
        
            
                 {{form_end(form)}}
          
         {% endblock %}
     
         
             
         
         
     